<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>820157050143-ca29c77vdijjem2gbij80pd8agqqmv5h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820157050143-ca29c77vdijjem2gbij80pd8agqqmv5h</string>
	<key>API_KEY</key>
	<string>AIzaSyD9Nt-vJ57SzJWAcjIWECTUi5ZZSvM12Xo</string>
	<key>GCM_SENDER_ID</key>
	<string>820157050143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.bitxlabs.movieware.tmdbmovieware.dev</string>
	<key>PROJECT_ID</key>
	<string>tmdb-d3a96</string>
	<key>STORAGE_BUCKET</key>
	<string>tmdb-d3a96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:820157050143:ios:9466e1657887b7d68b142a</string>
</dict>
</plist>
